rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sos/{docId} {
      allow read: if request.auth != null && (request.auth.token.role == 'rescue_officer' || request.auth.token.role == 'eoc');
      allow create: if true;  // allow any client to create for demo
      allow update: if request.auth != null && (request.auth.token.role == 'rescue_officer' || request.auth.token.role == 'eoc');
    }
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if true;
    }
    match /{document=**} { allow read, write: if false; } // lock down others
  }
}
